.vs/
RandomSelectorForQuestions/.vs/
RandomSelectorForQuestions/obj/
RandomSelectorForQuestions/bin/Release
RandomSelectorForQuestions/bin/Debug/RandomSelectorForQuestions.exe
RandomSelectorForQuestions/bin/Debug/RandomSelectorForQuestions.exe.config
RandomSelectorForQuestions/bin/Debug/RandomSelectorForQuestions.pdb
RandomSelectorForQuestions/data/seeds.txt
